{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
    <div class="col-md-12">
        <div class="widget p-lg">
            <h4 class="m-b-lg">Daftar Invoice</h4>
            <div class="mb-4 row d-flex">
                {% if user.is_superuser %}
                    <div class="form-group col-sm-12 col-md-3">
                        <label for="control-demo-6">Gudang/Toko</label>
                        <div id="control-demo-6">
                            <select class="form-control" onchange="location = this.value;">
                                {% for wh in warehouses %}
                                    <option 
                                        {% if wh.name == warehouse.name %} selected {% endif %} 
                                        value="{% url 'invoice-list' %}?warehouse_id={{wh.id}}"
                                    >
                                        {{wh.name}}
                                    </option>
                                {% endfor %}                            
                            </select>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group col-sm-12 col-md-3">
                        <label for="wh">Gudang/Toko</label>
                        <input value="{{warehouse.name}}" class="form-control" disabled />
                    </div>
                {% endif %}
                <div class="form-group col-sm-12 col-md-3">
                    <label for="search" class="col-sm-3">Cari</label>
                    <div class="d-flex">
                        <input  type="text" id="search" class="form-control" placeholder="Ketik no invoice atau customer">
                        <button onclick="search()" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="ml-auto my-3 mr-3">
                    <a href={% url 'invoice-export-to-csv' %} class="btn btn-warning mr-1">Export</a>
                    <a href={% url 'invoice-create' warehouse.id %} class="btn btn-primary">Tambah Invoice</a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>No</th>
                        <th>Customer</th>
                        <th>Status</th>
                        <th>Jatuh Tempo</th>
                        <th>Total</th>
                        <th>Opsi</th>
                    </tr>
                    {% for invoice in invoices %}
                        <tr style="cursor:pointer;" onClick="showItem({{ invoice.id }})">
                            <td>{{invoice.invoice_no}}</td>
                            <td>{{invoice.customer|default:'-'}}</td>
                            <td>{{invoice.status}}</td>
                            <td>{{invoice.due}}</td>
                            <td>{{invoice.get_total|intcomma}}</td>
                            <td>
                                {% if invoice.status != 'DRAFT' %}
                                    <a href={% url 'invoice-generate-pdf' invoice.id %} class="btn btn-warning mr-1">Print</a>
                                {% endif %}
                                <a href={% url 'invoice-form' invoice.id %} class="btn btn-secondary mr-1">Update</a>
                                <button class="btn btn-danger" onClick="deleteInvoice('{% url 'invoice-delete' invoice.id %}', '{{invoice.invoice_no}}')">Hapus</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div id="modalInvoiceItem" class="modal mx-auto my-auto w-50 h-50">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle">Daftar Barang | INV/abc/abc/abc</h4>
                <i class="fa fa-times" style="cursor:pointer" onClick="hideItem()"></i>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table" id="tableInvoiceItem">
                        <thead>
                            <tr>
                                <th>Gambar</th>
                                <th>Nama</th>
                                <th>Kode</th>
                                <th>Varian</th>
                                <th>Qty</th>
                                <th>Harga</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        function search() {
            const urlstring = window.location.href
            const url = new URL(urlstring)
            const warehouse_id = url.searchParams.get('warehouse_id')
            keywords = $("#search").val()
            window.location = "{% url 'invoice-list' %}" + "?q=" + keywords + "&warehouse_id=" + warehouse_id
        }

        function showItem(id) {
            const url = "{% url 'invoice-get-items' 12345 %}".replace("12345", id)
            $.get(url, function (data, status) {
                if (status === 'success') {
                    const { items, invoice_no } = data
                    $("#modalTitle").text(`Daftar Barang | ${invoice_no}`)
                    $("#tableInvoiceItem tbody").empty()
                    for (item of items) {
                        const { name, price, quantity, sku, varian_product__product__image, varian_product__size, varian_product__product_type } = item
                        $("#tableInvoiceItem tbody").append(`
                            <tr>
                                <td><img src='/media/${varian_product__product__image}' style='max-width:100px'></td>
                                <td>${name}</td>
                                <td>${sku}</td>
                                <td>${varian_product__size} / ${varian_product__product_type}</td>
                                <td>${quantity}</td>
                                <td>${price.toLocaleString('en')}</td>
                            </tr>
                        `)
                    }
                    $("#modalInvoiceItem").show(200)
                }
            })
        }

        function hideItem() {
            $("#modalInvoiceItem").hide(200)
        }

        function deleteInvoice(url, name) {
            $.ajaxSetup({ 
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                } 
            })

            message = "Kamu yakin ingin menghapus invoice ini? " + name
            confirm_delete = confirm(message)
            if (confirm_delete) {
                $.ajax({
                    url: url,
                    method: "POST",
                    success: function() {
                        location.reload()
                    }
                })
            }
        }
    </script>
{% endblock script %}