{% extends "inventory/base.html" %}

{% block content %}
    <div class="col-md-12">
        <div class="widget p-lg">
            <h4 class="m-b-lg">Dashbor</h4>
            
            <div class="row">
                <div class="form-group col-sm-12 col-md-5">
                    <label for="search">Cari</label>
                    <div class="d-flex">
                        <input  type="text" id="search" class="form-control" placeholder="Ketik nama produk atau kode">
                        <button onclick="search()" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>

            <div class="row p-3">
                <div class="col-md-3 bg-warning rounded text-center my-1" style="padding: 10px; color: white;">
                    <h3>Total Produk</h3>
                    <h4>{{total_product}}</h4>
                </div>
                <div class="col-md-3 bg-danger mx-auto rounded text-center my-1" style="padding: 10px; color: white;">
                    <h3>Total Aset</h3>
                    <h4>Rp {{total_assets}}</h4>
                </div>
                <div class="col-md-3 bg-success rounded text-center my-1" style="padding: 10px; color: white;">
                    <h3>Total Profit</h3>
                    <h4>Rp {{total_profit}}</h4>
                </div>
            </div>
        </div>
        <div class="widget p-lg">
            <h4 class="m-b-lg">Top 10 Produk Paling Banyak Terjual</h4>
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Nama</th>
                        <th>Gambar</th>
                        <th>Kode</th>
                        <th>Order</th>
                    </tr>
                    {% for item in products %}
                        <tr>
                            <td>{{item.varian_product__product__sku}}</td>
                            <td><img src={{item.varian_product__product__image__url}} style="max-width:200px;"></td>
                            <td>{{item.varian_product__product__name}}</td>
                            <td>{{item.total_order}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        function search() {
            keywords = $("#search").val()
            window.location = "{% url 'inventory-products' %}" + '?q=' + keywords + '&' + 'warehouse_id=' + getCookie('warehouse_id')
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock script %}