{% extends "inventory/base.html" %}

{% block content %}
    <div class="col-md-12">
        <div class="widget p-lg">
            <h4 class="m-b-lg">Product List</h4>
            <div class="d-flex">
                <div class="mb-4 d-flex">
                    {% if user.is_superuser %}
                        <div class="form-group">
                            <label for="control-demo-6" class="col-sm-3">Warehouse</label>
                            <div id="control-demo-6" class="col-sm-12">
                                <select class="form-control" onchange="location = this.value;">
                                    {% for warehouse in warehouses %}
                                        <option 
                                            {% if warehouse.name == warehouse_name %} selected {% endif %} 
                                            value="{% url 'inventory-products' %}?warehouse_id={{warehouse.id}}"
                                        >
                                            {{warehouse.name}}
                                        </option>
                                    {% endfor %}                            
                                </select>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="search" class="col-sm-3">Search</label>
                        <div class="col-sm-12">
                            <input  type="text" id="search" class="form-control" placeholder="Cari Nama atau SKU Product">
                        </div>
                    </div>
                </div>
                <div class="ml-auto">
                    <a class="btn btn-primary" href={% url 'inventory-create-product'%}>Tambah Product</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Gambar</th>
                        <th>Nama</th>
                        <th>SKU/Kode</th>
                        <th>Kategori</th>
                        <th>Terakhir diperbarui</th>
                        <th>Aksi</th>
                    </tr>
                    {% for product in products %}
                        <tr>
                            <td>{{product.id}}</td>
                            <td>
                                <img src="{{product.image.url}}" width="150px">
                            </td>
                            <td>{{product.name}}</td>
                            <td>{{product.sku}}</td>
                            <td>{{product.category.name}}</td>
                            <td>{{product.last_modified}}</td>
                            <td>
                                <a href="{% url 'inventory-varian-product' %}?product_id={{product.id}}" class="btn btn-success">See Varian</a>
                                <a href={% url 'inventory-update-product' product.id %} class="btn btn-secondary">Update</a>
                                <button class="btn btn-danger ml-2" onClick="deleteProduct('{% url 'inventory-delete-product' product.id %}', '{{product.name}}')">Hapus</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        function deleteProduct(url, name) {
            $.ajaxSetup({ 
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                } 
            })

            message = "Kamu yakin ingin menghapus produk ini? " + name
            confirm_delete = confirm(message)
            if (confirm_delete) {
                $.ajax({
                    url: url,
                    method: "POST",
                    success: function() {
                        location.reload()
                    }
                })
            }
        }
    </script>
{% endblock script %}