{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Form Produk</h2>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
        <button type="button" class="btn btn-danger" onClick="goBack()">Batal</button>
        <button type="submit" class="btn btn-success">Simpan</button>
    </form>
{% endblock content %}

{% block script %}
    <script>
        function goBack() {
            window.location = "{% url 'inventory-products' %}"
        }
    </script>
{% endblock script %}