{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- start linking  -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'inventory/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'inventory/css/app.css' %}">
    <!-- icon -->
    <link rel="icon" href="{% static 'inventory/img/log.png' %}">
    <!-- end linking -->
    <title>NutFlix - admin</title>
</head>
<body>
    <!-- start content -->
    {% block content %}{% endblock %}
    <!-- end content -->
    <!-- start screpting -->
    <script src="{% static 'inventory/js/jquery.min.js' %}"></script>
    <script src="{% static 'inventory/js/tether.min.js' %}"></script>
    <script src="{% static 'inventory/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'inventory/js/highcharts.js' %}"></script>
    <script src="{% static 'inventory/js/chart.js' %}"></script>
    <script src="{% static 'inventory/js/app.js' %}"></script>
    <!-- end screpting -->
</body>
</html>
