{% extends "inventory/base.html" %}

{% block content %}
    <div class="col-md-12">
        <div class="widget p-lg">
            <h4 class="m-b-lg">Product List</h4>
            <div class="d-flex">
                <div class="mb-4 d-flex">
                    <div class="form-group">
                        <label for="control-dem1o-6" class="col-sm-3">Product</label>
                        <div id="control-demo-6" class="col-sm-12">
                            <select class="form-control">
                                <option>Product A</option>
                                <option>Product B</option>                                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="ml-auto">
                    <button class="btn btn-primary">Tambah Varian</button>
                </div>
            </div>

            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>Varian</th>
                    <th>Buy Price</th>
                    <th>Sell Price</th>
                    <th>Aksi</th>
                </tr>
                <tr><td>1</td><td>Mark</td><td>Otto</td><td>@mdo</td></tr>
                <tr><td>2</td><td>Jacob</td><td>Thornton</td><td>@fat</td></tr>
                <tr><td>3</td><td>Larry</td><td>the Bird</td><td>@twitter</td></tr>
            </table>
        </div>
    </div>
{% endblock content %}