{% extends "inventory/base.html" %}

{% block content %}
	<div class="wrap">
      	<section class="app-content" id="contact">
      		<div class="row">
      			<div class="col-md-2">
      				<div class="app-action-panel" id="contacts-action-panel">
      					<div class="action-panel-toggle" data-toggle="class" data-target="#contacts-action-panel" data-class="open">
      						<i class="fa fa-chevron-right"></i>
      						<i class="fa fa-chevron-left"></i>
      					</div><!-- .action-panel-toggle -->
      					<div class="m-b-lg">
      						<a href={% url 'account-create-contact' %} class="btn btn-primary btn-block">Tambah Kontak</a>
      					</div>
      					<!-- contact category list -->
      					<div id="categories-list" class="app-actions-list scrollable-container">
      						<div class="list-group">
      							<a href="#" class="list-group-item">
      								<i class="fa fa-inbox text-color m-r-xs"></i>
      								<span>All Contacts</span>
      							</a>
      						</div><!-- .list-group -->

      						<hr class="m-0 m-b-md" style="border-color: #ddd;">

      						<div class="list-group">
      							<a href="#" class="list-group-item">
      								<div class="item-data">
      									<span class="label-text">Customer</span>
      									<span class="pull-right">7</span>
      								</div>
      							</a><!-- .list-group-item -->
      							<a href="#" class="list-group-item">
      								<div class="item-data">
      									<span class="label-text">Supplier</span>
      									<span class="pull-right">5</span>
      								</div>
      							</a><!-- .list-group-item -->
      						</div>
      					</div><!-- #categories-list -->
      					<div class="m-h-md">
      					</div>
      				</div><!-- .app-action-panel -->
      			</div><!-- END column -->

      			<div class="col-md-10">
      				<div class="row">
      					<div class="col-md-12">
      						<div class="mail-toolbar m-b-lg">

      							<div class="form-group" role="group">
									<input class="form-control" type="text" placeholder="Search Contact Name">
      							</div>

      							{% comment %} <div class="btn-group pull-right" role="group">
      								<a href="#" class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
      								<a href="#" class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
      							</div> {% endcomment %}
      						</div>
      					</div><!-- END column -->
      				</div><!-- .row -->

      				<div id="contacts-list" class="row">
						{% for contact in contacts %}
							<div class="col-sm-6">
								<div class="card user-card contact-item p-md">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xl avatar-circle">
												<i class="fa fa-user fa-5x"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading title-color">{{ contact }}</h5>
											<small class="media-meta">Phone: {{ contact.phone|default:'-' }}</small><br>
											<small class="media-meta">Email: {{ contact.email|default:'-' }}</small><br>
											<small class="media-meta">| </small>
											{% if contact.is_supplier %}
												<small class="media-meta">Supplier |</small>
											{% endif %}
											{% if contact.is_customer %}
												<small class="media-meta">Customer |</small>
											{% endif %}
										</div>
									</div>
									<div class="contact-item-actions">
										<a href={% url 'account-update-contact' contact.id %} class="btn btn-success"><i class="fa fa-edit"></i></a>
										<button onClick="deleteContact('{% url 'account-delete-contact' contact.id %}', '{{ contact.name }}')" class="btn btn-danger"><i class="fa fa-trash"></i></button>
									</div><!-- .contact-item-actions -->
								</div><!-- card user-card -->
							</div><!-- END column -->
						{% endfor %}
      				</div><!-- #contacts-list -->
      			</div><!-- END column -->
      		</div><!-- .row -->
      	</section><!-- .app-content -->
      </div><!-- .wrap -->
    </div>
    <!-- end the real content -->
{% endblock content %}

{% block script %}
    <script>
        function deleteContact(url, name) {
            $.ajaxSetup({ 
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                } 
            })

            message = "Kamu yakin ingin menghapus kontak ini? " + name
            confirm_delete = confirm(message)
            if (confirm_delete) {
                $.ajax({
                    url: url,
                    method: "POST",
                    success: function() {
                        location.reload()
                    }
                })
            }
        }
    </script>
{% endblock script %}
